body {
    background-color: #363940;
    color: white;
}

.allmusic-body {
    background-color: #363940;
    color: white;
}

.music-image {
    width: 130px;
    height: 130px;
}

.all-music {
    margin-top: 5rem;
}

.music-list {

    display: flex;
    margin: 10px;
    align-items: center;
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;
    transition: transform .2s;
    justify-content: space-between;
    box-shadow: 10px 5px 5px black;
}

.music-list:hover {
    transform: scale(1.01);
    border: 2px solid #17caff;
}

.music-name {
    font-size: 2rem;
}

.icon-play {
    color: #17caff;
    transition: transform .2s;
}

.icon-play:hover {
    color: blue;
    transform: scale(0.9);
}

.player {
    text-align: center;
    margin-top: 6rem;
}

.image-player {
    width: 30%;
    height: 30%;
    margin-top: 10px;
}

.audio {
    position: fixed;
    margin-top: 1.5rem;
    width: 100%;
    bottom: 0;
    left: 0;
}

.play-button {
    display: flex;
    margin-top: 6rem;
    font-size: 1.4rem;
    justify-content: space-around;

}

.play-button i:hover {
    cursor: pointer;
    color: #17caff;

}

.delete-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    border: 1px solid transparent;
    background-color: #17caff;
    border-radius: 5px;
    padding: 10px;
}

.delete-link:hover {
    color: white;
    background-color: red;
}

.pseudo-user {
    font-size: 1.3rem;
}






@media screen and (max-width: 520px) {

    /*    PAGE ALL MUSIC */
    .music-image {
        width: 75px;
        height: 75px;
    }

    .music-name {
        font-size: 15px;

        padding: 5px;
    }

    .delete-link {
        text-decoration: none;
        font-size: 10px;
        color: black;
        border: 1px solid transparent;
        background-color: #17caff;
        border-radius: 5px;
        padding: 5px;
    }

    /* PAGE PLAYER */
    .image-player {
        width: 70%;
        height: 70%;
    }

    .title-player {
        font-size: 1.5rem;

        margin-top: 40%;
    }

    .play-button {
        display: flex;
        margin-top: 10rem;
        font-size: 1.4rem;
        justify-content: space-around;

    }

}

@media screen and (min-width: 521px) and (max-width: 800px) {

    .music-image {
        width: 105px;
        height: 105px;
    }

    .music-name {
        font-size: 1.2rem;
        padding: 10px;
    }

    .delete-link {
        text-decoration: none;
        font-size: 16px;
        color: black;
        border: 1px solid transparent;
        background-color: #17caff;
        border-radius: 5px;
        padding: 5px;
    }




}

@media screen and (min-width: 521px) and (max-width: 590px) {
    .image-player {
        margin-top: 30px;
        width: 70%;
        height: 70%;
    }

    .title-player {
        font-size: 1.8rem;

        margin-top: 30%;
    }

    .play-button {
        display: flex;
        margin-top: 8rem;
        font-size: 1.4rem;
        justify-content: space-around;

    }
}

@media screen and (min-width: 591px) and (max-width: 700px) {
    .image-player {
        margin-top: 30px;
        width: 70%;
        height: 70%;
    }

    .title-player {
        font-size: 1.8rem;

        margin-top: 10%;
    }

    .play-button {
        display: flex;
        margin-top: 5rem;
        font-size: 1.4rem;
        justify-content: space-around;

    }
}

@media screen and (min-width: 701px) and (max-width: 775px) {
    .image-player {
        margin-top: 30px;
        width: 50%;
        height: 50%;
    }

    .title-player {
        font-size: 1.8rem;

        margin-top: 10%;
    }

    .play-button {
        display: flex;
        margin-top: 7rem;
        font-size: 1.4rem;
        justify-content: space-around;

    }
}

@media screen and (min-width: 776px) and (max-width: 1000px) {
    .image-player {
        margin-top: 30px;
        width: 50%;
        height: 50%;
    }

    .title-player {
        font-size: 1.8rem;

        margin-top: 10%;
    }

    .play-button {
        display: flex;
        margin-top: 5rem;
        font-size: 1.4rem;
        justify-content: space-around;

    }
}



@media screen and (min-width: 801px) and (max-width: 1000px) {

    .music-image {
        width: 130px;
        height: 130px;
    }

    .music-name {
        font-size: 1.5rem;
        padding: 10px;
    }

    .delete-link {
        text-decoration: none;
        font-size: 16px;
        color: black;
        border: 1px solid transparent;
        background-color: #17caff;
        border-radius: 5px;
        padding: 5px;
    }
}